<style include="settings-shared md-select iron-flex">
  .label.rewards-primary-title {
    font-weight: 700;
    font-size: 1.05em;
  }
  .settings-row:not(:first-child) {
    border-top: var(--cr-separator-line);
  }
  .space-between {
    display: flex;
    padding-right: 0;
    justify-content: space-between;
  }
  .flex {
    align-self: center;
    flex: 1 1 auto;
  }
  .flex-container {
    display: flex;
    padding: 8px 1em;
  }
</style>
<template is="dom-if" if="[[prefs.brave.rewards.enabled.value]]" restamp>
  <div class="settings-box first">
    <div class="label rewards-primary-title">$i18n{braveRewardsPrivateAdsTitle}</div>
  </div>
  <settings-toggle-button
    label="$i18n{braveRewardsPrivateAdsEarnTokensLabel}"
    pref="{{prefs.brave.brave_ads.enabled}}">
  </settings-toggle-button>
  <div class="settings-box continuation">
    <div class="flex cr-padded-text">
      <div>$i18n{braveRewardsMaxAdsToDisplayLabel}</div>
    </div>
    <settings-dropdown-menu
      label="$i18n{braveRewardsMaxAdsToDisplayLabel}"
      pref="{{prefs.brave.brave_ads.ads_per_hour}}"
      menu-options="[[maxAdsToDisplay_]]"
      disabled="[[!prefs.brave.brave_ads.enabled.value]]">
    </settings-dropdown-menu>
  </div>
  <template is="dom-if" if="[[shouldAllowAdsSubdivisionTargeting_()]]" restamp>
    <div class="settings-box continuation">
      <div class="flex cr-padded-text">
        <div>$i18n{braveRewardsStateLevelAdTargetingLabel}</div>
      </div>
      <settings-dropdown-menu
        label="$i18n{braveRewardsStateLevelAdTargetingLabel}"
        pref="{{prefs.brave.brave_ads.ads_subdivision_targeting_code}}"
        menu-options="[[adsSubdivisionTargetingCodes_]]"
        disabled="[[!prefs.brave.brave_ads.enabled.value]]">
      </settings-dropdown-menu>
    </div>
  </template>
  <div class="settings-box continuation">
    <p>$i18nRaw{braveRewardsStateLevelAdTargetingDescLabel}</p>
  </div>
  <div class="settings-box space-between">
    <div class="label rewards-primary-title">$i18n{braveRewardsAutoContributeTitle}</div>
    <settings-toggle-button
      pref="{{prefs.brave.rewards.ac.enabled}}">
    </settings-toggle-button>
  </div>
  <div class="settings-box continuation">
    <div class="flex cr-padded-text">
      <div>$i18n{braveRewardsAutoContributeMonthlyLimitLabel}</div>
    </div>
    <settings-dropdown-menu
      label="$i18n{braveRewardsAutoContributeMonthlyLimitLabel}"
      pref="{{prefs.brave.rewards.ac.amount}}"
      menu-options="[[autoContributeMonthlyLimit_]]"
      disabled="[[!prefs.brave.rewards.ac.enabled.value]]">
    </settings-dropdown-menu>
  </div>
  <div class="settings-box continuation">
    <div class="flex cr-padded-text">
      <div>$i18n{braveRewardsAutoContributeMinVisitTimeLabel}</div>
    </div>
    <settings-dropdown-menu
      label="$i18n{braveRewardsAutoContributeMinVisitTimeLabel}"
      pref="{{prefs.brave.rewards.ac.min_visit_time}}"
      menu-options="[[autoContributeMinVisitTimeOptions_]]"
      disabled="[[!prefs.brave.rewards.ac.enabled.value]]">
    </settings-dropdown-menu>
  </div>
  <div class="settings-box continuation">
    <div class="flex cr-padded-text">
      <div>$i18n{braveRewardsAutoContributeMinVisitsLabel}</div>
    </div>
    <settings-dropdown-menu
      label="$i18n{braveRewardsAutoContributeMinVisitsLabel}"
      pref="{{prefs.brave.rewards.ac.min_visits}}"
      menu-options="[[autoContributeMinVisitsOptions_]]"
      disabled="[[!prefs.brave.rewards.ac.enabled.value]]">
    </settings-dropdown-menu>
  </div>
  <settings-toggle-button
    label="$i18n{braveRewardsAutoContributeShowNonVerifiedSitesLabel}"
    pref="{{prefs.brave.rewards.ac.allow_non_verified}}"
    disabled="[[!prefs.brave.rewards.ac.enabled.value]]">
  </settings-toggle-button>
  <settings-toggle-button
    label="$i18n{braveRewardsAutoContributeAllowVideoContributionsLabel}"
    pref="{{prefs.brave.rewards.ac.allow_video_contributions}}"
    disabled="[[!prefs.brave.rewards.ac.enabled.value]]">
  </settings-toggle-button>
  <div class="settings-box continuation">
    <p>$i18nRaw{braveRewardsAutoContributeDescLabel}</p></p>
  </div>
  <div class="settings-box">
    <div class="label rewards-primary-title">$i18n{braveRewardsTipButtonsTitle}</div>
  </div>
  <settings-toggle-button
    label="$i18n{braveRewardsInlineTipRedditLabel}"
    pref="{{prefs.brave.rewards.inline_tip.reddit}}">
  </settings-toggle-button>
  <settings-toggle-button
    label="$i18n{braveRewardsInlineTipTwitterLabel}"
    pref="{{prefs.brave.rewards.inline_tip.twitter}}">
  </settings-toggle-button>
  <settings-toggle-button
    label="$i18n{braveRewardsInlineTipGithubLabel}"
    pref="{{prefs.brave.rewards.inline_tip.github}}">
  </settings-toggle-button>
</template>
<template is="dom-if" if="[[!prefs.brave.rewards.enabled.value]]" restamp>
  <div class="settings-row" id="braveRewardsDisabledRow">
    <cr-link-row
      label="$i18n{braveRewardsDisabledLabel}"
      sub-label="$i18n{braveRewardsDisabledSubLabel}"
      on-click="openRewardsPanel_" external>
    </cr-link-row>
  </div>
</template>
